.center-block {
  margin: 0 auto; }

.bg-grey {
  background-color: #342f3c; }

.caption {
  width: 6px;
  height: 85px;
  background-color: #753d9d;
  border-radius: 9px;
  float: left;
  margin-right: 15px; }

.menu-show {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  max-height: 100vh;
  width: 100%;
  background-color: #342f3c;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms; }

.custom-padding {
  padding: 0 15px 0 15px; }

.border-line {
  width: 100%;
  height: 2px;
  background-color: #e0e0e0;
  margin: 72px 0 72px 0; }

.bg-img-0 {
  background: url(../img/home-section.png); }

.bg-img-1 {
  background: url(../img/macBook.png); }

.bg-img-2 {
  background: url(../img/features_create.png); }

.disable {
  display: none; }

.active {
  display: block !important; }

.list-style-none {
  list-style-type: none; }

.position-relative {
  position: relative; }

.text-decoration-none {
  text-decoration: none; }

.button {
  border-radius: 8px;
  max-width: 262px;
  padding: 23px 65px 23px 65px;
  display: inline-block;
  text-align: center; }
  .button--white-bg {
    border: 2px solid #000000;
    background-color: #fff; }
    .button--white-bg:hover {
      background-color: #753d9d;
      text-decoration: none;
      border-color: #753d9d; }
  .button--purple-bg {
    border: 2px solid #fff;
    background-color: #753d9d; }
    .button--purple-bg:hover {
      background-color: #fff;
      text-decoration: none;
      border-color: #fff; }
  .button--grey-bg {
    border: 2px solid #fff;
    background-color: #342f3c; }
    .button--grey-bg:hover {
      background-color: #753d9d;
      text-decoration: none;
      border-color: #753d9d; }
  @media (min-width: 320px) and (max-width: 767px) {
    .button {
      border-radius: 3px;
      max-width: 170px;
      padding: 14px 20px 14px 20px; } }

.btn-text {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Montserrat", sans-serif; }
  .btn-text--black {
    color: #000000; }
    .btn-text--black:hover {
      color: #000000; }
  .btn-text--white {
    color: #fff; }
    .btn-text--white:hover {
      color: #fff; }
  .btn-text--purple {
    color: #fff; }
    .btn-text--purple:hover {
      color: #753d9d; }
  @media (min-width: 320px) and (max-width: 767px) {
    .btn-text {
      font-size: 14px; } }

.pagination {
  border-radius: 4px;
  width: 68px;
  height: 7px;
  display: inline-block;
  background-color: #807d87;
  margin-right: 8px; }

.pagination-active {
  background-color: #753d9d; }

/* home-section -----------------------------------------------------------------------------------------------------------------------------------*/
.home-section {
  padding: 45px 0 30px 0;
  background-size: cover; }
  .home-section .home-section__logo {
    margin-left: 20px; }
  .home-section .home-section__menu__hamburger {
    margin-right: 20px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .home-section .home-section__menu__hamburger {
        display: block !important;
        float: right;
        position: absolute;
        top: 0%;
        right: 0%; } }
  .home-section .home-section__menu {
    position: absolute;
    top: 25%;
    right: 0%; }
    @media (min-width: 320px) and (max-width: 767px) {
      .home-section .home-section__menu {
        transition: all 0ms ease; } }
    @media (min-width: 320px) and (max-width: 767px) {
      .home-section .home-section__menu {
        position: relative;
        margin-top: 25px;
        width: 100%; } }
    .home-section .home-section__menu ul li {
      float: left; }
      @media (min-width: 320px) and (max-width: 767px) {
        .home-section .home-section__menu ul li {
          text-align: center;
          float: none;
          display: none; } }
    .home-section .home-section__menu ul li a {
      text-transform: uppercase;
      font-size: 15px;
      font-family: "Montserrat", sans-serif;
      color: #fff;
      margin-right: 18px; }
      .home-section .home-section__menu ul li a:hover {
        color: #753d9d; }
      @media (min-width: 320px) and (max-width: 767px) {
        .home-section .home-section__menu ul li a {
          transition: 1s; } }
  .home-section .home-section__content {
    width: 100%; }
  .home-section h1 {
    font-size: 70px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: bold;
    margin: 207px 0 50px 0;
    line-height: 0.371;
    padding: 0 25px 0 25px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .home-section h1 {
        font-size: 60px;
        line-height: 1.1; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .home-section h1 {
        font-size: 50px;
        line-height: 1.1;
        margin: 165px 0 25px 0; } }
    @media (min-width: 320px) and (max-width: 767px) {
      .home-section h1 {
        font-size: 36px;
        line-height: 1.1;
        margin: 35px 0 25px 0; } }
    .home-section h1 span {
      color: #753d9d; }
  .home-section .home-section__description {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin-bottom: 64px;
    width: 80%; }
    @media (min-width: 320px) and (max-width: 767px) {
      .home-section .home-section__description {
        margin-bottom: 45px;
        font-size: 16px; } }
  .home-section .home-section_buttons {
    width: 100%; }
    @media (min-width: 320px) and (max-width: 767px) {
      .home-section .home-section_buttons {
        width: 170px; } }
  .home-section .home-section_buttons .button {
    margin: 0 25px 150px 0; }
    @media (min-width: 320px) and (max-width: 1199px) {
      .home-section .home-section_buttons .button {
        margin-bottom: 35px; } }
  .home-section .bg-slider {
    width: 100%; }

/* welcome -----------------------------------------------------------------------------------------------------------------------------------*/
.welcome {
  background-color: #fff;
  padding: 70px 0 70px 0; }
  .welcome .welcome__title {
    width: 80%; }
  .welcome h2 {
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    font-weight: bold;
    line-height: 1.222;
    text-transform: uppercase; }
  .welcome h2 span:nth-of-type(1) {
    color: #753d9d; }
  .welcome h2 span:nth-of-type(2) {
    font-weight: 400; }
  .welcome .welcome_description {
    margin-top: 53px;
    margin-bottom: 53px;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    line-height: 1.733; }
  @media (min-width: 320px) and (max-width: 991px) {
    .welcome .welcome_image {
      margin-top: 40px;
      margin: 0 auto;
      text-align: center; } }
  .welcome .welcome_image img {
    border-radius: 6px; }
  .welcome .welcome__image__title {
    text-transform: uppercase;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 21px;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    font-weight: bold;
    line-height: 1.238; }
  @media (min-width: 320px) and (max-width: 991px) {
    .welcome .welcome__icon {
      margin: 0 auto; } }
  .welcome .welcome__icon img {
    float: left;
    margin-bottom: 30px; }
  .welcome .welcome__image__description {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    line-height: 1.733;
    margin-top: 52px; }
    @media (min-width: 320px) and (max-width: 1025px) {
      .welcome .welcome__image__description {
        margin-bottom: 40px; } }

/* slogan -----------------------------------------------------------------------------------------------------------------------------------*/
.slogan {
  background: url(../img/slogan-backgrond.png);
  background-size: cover;
  padding: 102px 0 102px 0; }
  .slogan h3 {
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: bold;
    line-height: 0.52;
    margin-bottom: 75px;
    pagination: 0 30px 0 30px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .slogan h3 {
        font-size: 42px;
        line-height: 1.1; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .slogan h3 {
        font-size: 38px;
        line-height: 1.1; } }
    @media (min-width: 320px) and (max-width: 767px) {
      .slogan h3 {
        font-size: 30px;
        line-height: 1.1; } }

/* services -----------------------------------------------------------------------------------------------------------------------------------*/
.services {
  background-color: #fff;
  padding: 70px 0 0 0; }
  .services .services__img_fst_row .img {
    float: left;
    padding: 15px;
    width: 292px; }
  .services .services__img_sec_row .img {
    float: left;
    padding: 15px; }
  .services .services__img_content {
    text-transform: uppercase;
    position: absolute;
    padding: 0 20px 30px 40px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: bold;
    line-height: 1.529; }
  .services .services__img_content_last {
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: bold;
    line-height: 1.182;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 49px 65px 239px; }

/* contact -----------------------------------------------------------------------------------------------------------------------------------*/
.contact {
  background-color: #753d9d;
  padding: 50px 0 50px 0; }
  .contact .contact__title {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: bold;
    line-height: 1.4;
    padding: 20px 0 20px 0; }

/* portfolio -----------------------------------------------------------------------------------------------------------------------------------*/
.portfolio {
  background-color: #fff;
  padding: 50px 0 50px 0; }
  .portfolio .portfolio__img div {
    float: left;
    padding: 10px; }

/*# sourceMappingURL=style.css.map */
