.center-block {
  margin: 0 auto; }

.disable {
  display: none; }

.active {
  display: block; }

.list-style-none {
  list-style-type: none; }

.position-relative {
  position: relative; }

.text-decoration-none {
  text-decoration: none; }

.button {
  border-radius: 8px;
  max-width: 262px;
  padding: 23px 65px 23px 65px;
  display: inline-block;
  text-align: center; }
  .button--white-bg {
    border: 1px solid #000000;
    background-color: #fff; }
    .button--white-bg:hover {
      background-color: #753d9d;
      text-decoration: none;
      color: #753d9d;
      border-color: #753d9d; }
  .button--purple-bg {
    border: 1px solid #fff;
    background-color: #753d9d; }
  .button--grey-bg {
    border: 1px solid #fff;
    background-color: #342f3c; }
    .button--grey-bg:hover {
      background-color: #753d9d;
      text-decoration: none;
      color: #753d9d;
      border-color: #753d9d; }
  @media (min-width: 320px) and (max-width: 767px) {
    .button {
      border-radius: 3px;
      max-width: 170px;
      padding: 14px 20px 14px 20px; } }

.btn-text {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Montserrat", sans-serif; }
  .btn-text--black {
    color: #000000; }
    .btn-text--black:hover {
      color: #000000; }
  .btn-text--white {
    color: #fff; }
    .btn-text--white:hover {
      color: #fff; }
  @media (min-width: 320px) and (max-width: 767px) {
    .btn-text {
      font-size: 14px; } }

.pagination {
  border-radius: 4px;
  width: 68px;
  height: 7px;
  display: inline-block;
  background-color: #807d87;
  margin-right: 8px; }

.pagination-active {
  background-color: #753d9d; }

/* home-section -----------------------------------------------------------------------------------------------------------------------------------*/
.home-section {
  background: url(../img/home-section.png);
  background-size: cover;
  padding: 45px 0 30px 0; }
  @media (min-width: 320px) and (max-width: 767px) {
    .home-section .home-section__logo {
      text-align: center;
      width: 100%; } }
  .home-section .home-section__menu {
    position: absolute;
    top: 25%;
    right: 0%; }
    @media (min-width: 320px) and (max-width: 767px) {
      .home-section .home-section__menu {
        position: relative;
        margin-top: 25px;
        width: 100%; } }
    .home-section .home-section__menu ul li {
      float: left; }
      @media (min-width: 320px) and (max-width: 767px) {
        .home-section .home-section__menu ul li {
          text-align: center;
          float: none;
          display: none; } }
    .home-section .home-section__menu ul li a {
      text-transform: uppercase;
      font-size: 15px;
      font-family: "Montserrat", sans-serif;
      color: #fff;
      margin-right: 18px; }
      .home-section .home-section__menu ul li a:hover {
        color: #753d9d; }
    @media (min-width: 320px) and (max-width: 767px) {
      .home-section .home-section__menu .home-section__menu__hamburger {
        display: block; } }
  .home-section h1 {
    font-size: 70px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: bold;
    margin: 207px 0 50px 0;
    line-height: 0.371;
    padding: 0 25px 0 25px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .home-section h1 {
        font-size: 60px;
        line-height: 1.1; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .home-section h1 {
        font-size: 50px;
        line-height: 1.1;
        margin: 165px 0 25px 0; } }
    @media (min-width: 320px) and (max-width: 767px) {
      .home-section h1 {
        font-size: 36px;
        line-height: 1.1;
        margin: 35px 0 25px 0; } }
    .home-section h1 span {
      color: #753d9d; }
  .home-section .home-section__description {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin-bottom: 64px;
    width: 80%; }
    @media (min-width: 320px) and (max-width: 767px) {
      .home-section .home-section__description {
        margin-bottom: 45px;
        font-size: 16px; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .home-section .home-section_buttons {
      width: 170px; } }
  .home-section .home-section_buttons .button {
    margin: 0 25px 150px 0; }
    @media (min-width: 320px) and (max-width: 1199px) {
      .home-section .home-section_buttons .button {
        margin-bottom: 35px; } }

.slogan {
  background: url(../img/slogan-backgrond.png);
  background-size: cover; }

/*# sourceMappingURL=style.css.map */
